/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    color: #333;
}

/* Header Styles */
header {
    background-color: #898989;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Contact Section */
.contact-section {
    text-align: center;
    padding: 30px 10px;
    background-color: #d9d9d9;


}

.contact-section h3 {
    font-size: 26px;
    color: black;
    margin-bottom: 4px;
}

.contact-section p {
    font-size: 18px;
    color: #d9d9d9;
    margin-bottom: 30px;
}

.contact-container {
    width: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.contact-form, .contact-details {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
}

.contact-form h3, .contact-details h3 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #898989;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background-color: #898989;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #898989;
}

.contact-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

/* Footer */
footer {
    text-align: center;
    background-color: #898989;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

nav ul li a:hover{
    color:black;
    margin: 0px 9px;
    background-color:transparent;
    color:white ;
    padding: 20px 14px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 15px;
    width:70%;
    

}